@model Smart_Home_Automation_System_MVC.Models.Event.CreateEventModel

<div class="container">
    <h4 class="text-center">Create Event</h4>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="CreateEvent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Event Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label">Event Date</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Event Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label" for="IsActive">@Html.DisplayNameFor(model => model.IsActive)</label>
                </div>

                <div class="form-group">
                    <input asp-for="DeviceId" class="form-control" hidden />
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="GetAllEvents" asp-route-deviceId="@Model.DeviceId" class="btn btn-secondary">Back to Events</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
