@model Smart_Home_Automation_System_MVC.Models.Event.EditEventModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center">Edit Event</h4>
            <hr />
            <form asp-action="EditEvent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <input asp-for="Id" class="form-control" type="hidden" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="IsActive" />
                        <label class="form-check-label" asp-for="IsActive"></label>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="DeviceId" class="form-control" hidden />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <br />
            <div class="text-center">
                <a asp-action="GetAllEvents" asp-route-deviceId="@Model.DeviceId">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

