@model Smart_Home_Automation_System_MVC.Models.Appliance.CreateApplianceModel

<div class="container">
    <h4 class="text-center">Create Appliance</h4>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="CreateAppliance">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Appliance Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Model" class="control-label">Appliance Model</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PurchaseDate" class="control-label">Purchase Date</label>
                    <input asp-for="PurchaseDate" class="form-control" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="IsTurnOn" />
                    <label class="form-check-label" for="IsTurnOn">@Html.DisplayNameFor(model => model.IsTurnOn)</label>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="GetAllAppliances" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
