@model Smart_Home_Automation_System_MVC.Models.Appliance.EditApplianceModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>Edit Appliance</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="EditAppliance">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <input asp-for="Id" class="form-control" type="hidden" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PurchaseDate" class="control-label"></label>
                            <input asp-for="PurchaseDate" class="form-control" />
                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsTurnOn" /> @Html.DisplayNameFor(model => model.IsTurnOn)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="deviceAssociations">Associated Devices</label>
                        <input asp-for="DeviceOptions" class="form-control" type="hidden" />
                        <select multiple class="form-control" asp-for="SelectedDeviceIds" asp-items="Model.DeviceOptions"></select>
                        <span asp-validation-for="SelectedDeviceIds" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="text-left">
                <a asp-action="GetAllAppliances" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
