@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">Welcome To Your Smart Home</h1>
        <p class="lead">Experience the comfort and convenience of a smart home automation system.</p>
        <p class="text-muted">Transform your living space with cutting-edge technology.</p>
        <p class="text-info">Control your home's lighting, security, temperature, and more with a touch.</p>
    </div>
</div>
